TOKEN=YOUR_BOT_TOKEN

MONGO_URI=mongodb://username:password@ip-address:port/fluxer-mod-bot?authSource=admin

PREFIX=YOUR_PREFIX_!_?_ETC

OWNER_ID=YOUR_USER_ID

LOG_LEVEL=debug_or_comment_out
DEBUG=true_or_false

API_ENABLED=true_or_false

API_PORT=any_port_you_want

API_ADMIN_TOKEN=GENERATE_A_LONG_RANDOM_STRING_FOR_SECURITY_REASONS

FLUXER_OAUTH_CLIENT_ID=OAUTH_CLIENT_ID_FROM_FLUXER
FLUXER_OAUTH_CLIENT_SECRET=OAUTH_CLIENT_SECRET_FROM_FLUXER
FLUXER_OAUTH_REDIRECT_URI=https://example.com/auth/callback

DASHBOARD_URL=https://example.com

SENTRY_DSN=NOT_NEEDED_UNLESS_YOU_WANT_TO_USE_IT
SENTRY_ENVIRONMENT=ABOVE
SENTRY_DEBUG=true_or_false
